<launch>
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.07, frame_id: id_0},
      {id: 1, size: 0.032, frame_id: id_1}
      ]
    </rosparam>
    <remap from="image_rect" to="/narrow_stereo/right/image_rect"/>
  </node>
</launch>
