<launch>
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.07, frame_id: id_0},
      ]
    </rosparam>
    <rosparam param="sensor_frame_id">primesense</rosparam>
    <remap from="image_rect" to="/camera/rgb/image_rect_color"/>
  </node>
</launch>
