<launch>
  <!-- Launch the camera node -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="60"/>
  </node>
  <node name="usb_cam_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>

  <node pkg="tf" type="static_transform_publisher" name="usb_cam_broadcaster" args="1.21308644522 0.108534293992 0.666401647197 -0.517326268175 -0.525680204106 0.4755004641 0.479513094854 base_link usb_cam 100" />
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.07, frame_id: id_0},
      ]
    </rosparam>
    <rosparam param="sensor_frame_id">usb_cam</rosparam>
    <remap from="image_rect" to="/usb_cam/image_rect_color"/>
  </node>
</launch>
